
.dark,
 
.dark ::-webkit-scrollbar-track {
    background: #555;
}
 
.dark ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

.dark header .heading .text {
    color: #e3e3e3;
}

.dark .navbar {
    background-color: #222;
	border-color: #223;
}

.dark .navbar a {
    color: #e6e6e6;
}

.dark .bulb {
	color: #90EE90;
}

.dark .navbar .icon {
    fill: #e6e6e6;
}

.dark header .heading .text1{
    color: #e6e6e6;
}

.dark header .heading .ico {
    fill: #e6e6e6;
}

.dark .help .join {
    background-color: #a9a9a9;
	color: #111;
}

.dark .help {
	background: linear-gradient(110deg, #4a5568 60%, #333 60%);
}

.dark header p  {
    color: #e3e3e3;
}

.dark  {
    background-color: #222;
    color: #e6e6e6;
}

.dark .section__title h3 {
    color: #e6e6e6;
}

.dark .section__title p {
    color: #e6e6e6;
}

.dark .modal {
    background-color: #222;
}

.dark .inner-switch {
  background: url('https://api.iconify.design/emojione-monotone:light-bulb.svg?color=%23e6e6e6') no-repeat;
  background-size: 100%;
}

.dark .switch {
	background-color: #179c52;
	color: #222;
}

.dark #navbar {
    
	border-color: #223;
}

.dark .device {
    background-color: #333;
}

.dark .device h4 {
  color: #d5dce6;
}

.dark.social__list svg {
  fill: #e6e6e6;
}

.dark #myBtn {
  background-color: rgba(0,0,0, .8);
  fill: rgba(230, 230, 230, .5);
  font-weight: bold;
}

.dark #myBtn:hover {
  background-color: rgba(46, 49, 49, .3);
  fill: rgba(230, 230, 230, 1);
}

.dark .now {
	border-bottom: solid 1.5px;
	border-bottom-color: #e6e6e6;
}

.dark .info .active {
	background-color: rgba(102, 102, 102,.3);
	box-shadow: 0 5px 8px rgba(255,255,255,0.12), 0 5px 8px rgba(255,255,255,0.24);
	color: #d9d9d9;
}

.dark .pur {
	stroke: rgba(190, 144, 212,1);
}

.dark .sil {
	stroke: rgba(189, 195, 199, 1);
}

.dark .info .cases {
	background-color: rgba(128,0,128,.3);
	color: #b47aff;
	box-shadow: 0 5px 8px rgba(255,255,255,0.12), 0 5px 8px rgba(255,255,255,0.24);
}

.dark tr .tdgrey {
	background-color: rgba(189, 195, 199, .1);
	color: rgba(189, 195, 199, 1);
}

.dark tr .tdgrey1 {
	background-color: rgba(189, 195, 199, .15);
	color: rgba(189, 195, 199, 1);
}

.dark tr .tdgrey2 {
	background-color: rgba(189, 195, 199, .3);
	color: rgba(189, 195, 199, 1);
}

.dark tr .tdpur {
	background-color: rgba(190, 144, 212,.1);
	color: rgba(190, 144, 212,1);
}

.dark tr .tdpur1 {
	background-color: rgba(190, 144, 212,.15);
	color: rgba(190, 144, 212,1);
}

.dark tr .tdpur2 {
	background-color: rgba(190, 144, 212,.3);
	color: rgba(190, 144, 212,1);
}

.dark .tdgrey2:hover {
  background: rgba(108,117,125,.2);
}

.dark .tdpur2:hover {
  background: rgba(128,0,128,.2);
}

.dark .date {
	background-color: rgba(255, 0, 0,0.3);
	color: #f7a8a8;
}

.dark .deaths {
	background-color: rgba(0, 81, 255,0.3);
	color: #b9dffa;
	box-shadow: 0 5px 8px rgba(255,255,255,0.12), 0 5px 8px rgba(255,255,255,0.24);
}

.dark .recover {
	background-color: rgba(13, 255, 0,0.3);
	color: #75ff6b;
	box-shadow: 0 5px 8px rgba(255,255,255,0.12), 0 5px 8px rgba(255,255,255,0.24);
}

.dark .cases1 {
	color: #e3e3e3;
}

.dark .headerSortDown:after {
  border-top-color: silver;
}

.dark .headerSortUp:after {
  border-bottom-color: silver;
}

.dark #searchbar {
  box-shadow: 10px 10px 25px 0 rgba(10,10,10,0.5);
  background-color: #222;
  color: #efefef;
  border: 3px solid #222;
}

.dark #search li {
  background-color: #222;
  color: #efefef;
  border: 3px solid #222;
}

 .dark .navbar .sitenavigation.is-tapped > ul {
	/* background-color: #222; */
}

.dark .sitenavigation li a:hover {
  color: #fff;
  font-weight: 300%;
  border-bottom: 3px solid #fff;
}

.dark .selected {
  border-bottom: 3px solid #fff;
}

.dark #hamburger span {
	background: #eee;
}

.dark .sitenavigation.is-tapped > ul {
	background-color: #222;
}

.dark .sitenavigation.is-tapped > ul a:hover {
background-color: #333;
}

.dark #google_translate_element {
	background-color: #222!important;
}

.dark .goog-te-gadget-simple  {
  background-color: #222!important;
}

.dark text.highcharts-title {
	fill: #fff!important;
}

.dark table tbody {
  color: #fff;
}

.dark table thead {
  color: #fff;
}

.dark #covidcol1 .highcharts-yaxis-labels text, .dark #covidcol1 .highcharts-xaxis-labels text, .dark #covidcol1 .highcharts-title text {
	fill: #fff!important;
}

.dark #covidcol2 .highcharts-yaxis-labels text, .dark #covidcol2 .highcharts-xaxis-labels text, .dark #covidcol2 .highcharts-title text {
	fill: #fff!important;
}
.dark #covidcol3 .highcharts-yaxis-labels text, .dark #covidcol3 .highcharts-xaxis-labels text, .dark #covidcol3 .highcharts-title text {
	fill: #fff!important;
}
.dark #covidcol4 .highcharts-yaxis-labels text, .dark #covidcol4 .highcharts-xaxis-labels text, .dark #covidcol4 .highcharts-title text {
	fill: #fff!important;
}

.dark .highcharts-axis-title {
	fill: #fff!important;
}

.dark .highcharts-range-selector-buttons text {
	fill: #fff!important;
}

.dark .highcharts-button rect {
	fill: #111!important;
}
.dark .highcharts-axis-labels text {
	fill: #fff!important;
}